
#page_header{
	float: left;
	height: 160px;
	width: 100%;
	min-width: 1000px;
	background-color: #373737;

	border-bottom: 5px solid #C0B283;
}

#stock_img *{
	position:relative;
	z-index: 1;
	float: right;
	width: 50%;
	min-width:600px;
	height: 160px;
	overflow:hidden;
	background-color:lime;
}

#login_area {

	position: absolute;
	display:inline-block;

	top: 3em;
	height: 6em;

	left: 5%;
	width:25%;
	min-width:300px;

	text-align: center;

	font-family: 'Playfair Display', serif;

	background-color: #373737;
}

#usernameThings{
	margin-top: 1em;
	margin-bottom: 5px;
}

#username_label {
	padding-left: 1em;
	padding-right: 1em;
	color:  #C0B283;
	height: 1.5em;
}

#username_input {
	float: right;
	width: 40%;
	margin-right: 1em;
	border: 0;
	height: 1em;
	text-align: center;

	font-style: italic;
	font-family: 'Playfair Display', serif;

	border-bottom: 2px solid #C0B283;
	color: #DCD0C0;
	background-color: #373737;
}


#password_input {
	float: right;
	width: 40%;
	margin-right: 1em;
	border: 0;
	height: 1em;
	text-align: center;

	font-style: italic;
	font-family: 'Playfair Display', serif;

	border-bottom: 2px solid #C0B283;
	color: #DCD0C0;
	background-color: #373737;
 
}

#passwordThings {
	margin-bottom: 5px;
}

#password_label{
	padding-left: 1em;
	padding-right: 1em;

	color:  #C0B283;
}

#login_btn {
	float:right;
	margin-right: 17.5%;
	border: 0;
	background-color:inherit;
	cursor:pointer;
	font-family: 'Playfair Display', serif;

	color:  #C0B283;
}

#user_name{
	font-family: 'Playfair Display', serif;
	color: #C0B283;
	vertical-align: middle;
	padding-left: 10em;
}
#user_name:before{
	content:'Welcome, ';
}
#user_name:after{
	content:'.';
}
/*
#login_btn{
	-moz-box-shadow: 0px 0px 21px 0px #ff8e03;
	-webkit-box-shadow: 0px 0px 21px 0px #ff8e03;
	box-shadow: 0px 0px 18px 0px #ff8e03;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fca800), color-stop(1, #a15900));
	background:-moz-linear-gradient(top, #fca800 5%, #a15900 100%);
	background:-webkit-linear-gradient(top, #fca800 5%, #a15900 100%);
	background:-o-linear-gradient(top, #fca800 5%, #a15900 100%);
	background:-ms-linear-gradient(top, #fca800 5%, #a15900 100%);
	background:linear-gradient(to bottom, #fca800 5%, #a15900 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fca800', endColorstr='#a15900',GradientType=0);
	background-color:#fca800;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border-width:0px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 15px #000000;
	left:1450px;
	top:18px;
}
#login_btn:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a15900), color-stop(1, #fca800));
	background:-moz-linear-gradient(top, #a15900 5%, #fca800 100%);
	background:-webkit-linear-gradient(top, #a15900 5%, #fca800 100%);
	background:-o-linear-gradient(top, #a15900 5%, #fca800 100%);
	background:-ms-linear-gradient(top, #a15900 5%, #fca800 100%);
	background:linear-gradient(to bottom, #a15900 5%, #fca800 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a15900', endColorstr='#fca800',GradientType=0);
	background-color:#a15900;
	left:1450px;
	top:18px;
}
#login_btn:active{
	left:1450px;
	top:18px;
}
#user_name{
	font-size:50px;
	text-align:right;
	top:5px;
	left:0;
	width:1400px;
}
*/