
/*
	-------------------------------------------------------------------------------------------------------------
	--------------------------------------- PAGE HEADER DESIGN --------------------------------------------------
	-------------------------------------------------------------------------------------------------------------
*/

#page_header{
	float: left;
	height: 160px;
	width: 100%;
	min-width: 1000px;
	background-color: #373737;

	border-bottom: 5px solid #C0B283;
}

#stock_img *{
	position:relative;
	z-index: 1;
	float: right;
	width: 50%;
	min-width:600px;
	height: 160px;
	overflow:hidden;
	background-color:lime;
}

#login_area {

	position: absolute;
	display:inline-block;

	top: 3em;
	height: 6em;

	left: 50px;
	width:250px;
	min-width:300px;

	text-align: center;

	font-family: 'Playfair Display', serif;
}

input:focus{
	outline:none;
}

#usernameThings{
	margin-top: 1em;
	margin-bottom: 5px;
}

#username_label {
	padding-left: 1em;
	padding-right: 1em;
	color:  #C0B283;
	height: 1.5em;
}

#username_input {
	float: right;
	width: 150px;
	margin-right: 1em;
	border: 0;
	height: 1em;
	text-align: center;
	font-family: 'Playfair Display', serif;

	border-bottom: 2px solid #C0B283;
	color: #DCD0C0;
	background-color: #373737;
}


#password_input {
	float: right;
	width: 150px;
	margin-right: 1em;
	border: 0;
	height: 1em;
	text-align: center;
	font-family: 'Playfair Display', serif;

	border-bottom: 2px solid #C0B283;
	color: #DCD0C0;
	background-color: #373737;
 
}

#passwordThings {
	margin-bottom: 5px;
}

#password_label{
	padding-left: 1em;
	padding-right: 1em;

	color:  #C0B283;
}

#login_btn {
	float:right;
	margin-right: 17.5%;
	border: 0;
	background-color:inherit;
	font-family: inherit;
	color:  #C0B283;

	font-size:1.3em;
}

#login_btn:hover{
	cursor:pointer;
	color: #373737;
	background-color: #C0B283;
	transition: background-color 0.3s ease-in-out;
}

#user_name{
	font-family: 'Playfair Display', serif;
	font-size: 1.4em;
	color: #C0B283;
	padding-right: 0.1em;
	position: relative;
	display: inline-block;
	left: 40%;
}
#user_name:before{
	content:'Welcome, ';
}
#user_name:after{
	content:'.';
}

#edit_btn {
	color: #A0958d;
	font-family: 'Playfair Display', serif;
	background-color: inherit;
	font-size: 1.3em;
	border: none;
	position: absolute;
	top: 70%;
	left: 70%;
}

#edit_btn:hover {
	cursor:pointer;
	color:#373737;
	background-color: #C0B283;
	transition: background-color 0.3s ease-in-out;
}